.service-card {
  position: relative;
}
.card-image {
  position: relative;
}
.service-charge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #fb4848;
  color: white;
  font-size: 30px;
}
.black-div,
.color-div,
.white-div {
  width: 10px;
  height: 24px;
  margin-right: 5px;
  transform: skewX(-35deg);
  background-color: #2a323a;
}
.color-div {
  background-color: #fb4848;
}
.white-div {
  background-color: white;
}
.service-details {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fb4848;
  color: white;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.service-card:hover .service-details {
  transform: scaleY(1);
}
.service-details-btn {
  background-color: #fa3535;
  color: white;
}
.service-details-btn:hover {
  background-color: white;
}
